
{if $isLogged}
    <a n:href="PriceOffer:allPriceOffers">Zoznam cenových ponúk</a>
    <a n:href="PriceOffer:addPriceOffer">Pridať cenovú ponuku</a>
{else}
    <a n:href="Homepage:">Pomoc</a>
{/if}


